body {
    margin: 0;
    padding: 0;
    min-height: 700px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    color: white;
    background: #555;
}
body a {
    color: white;
    text-decoration: none;
}
body h1,
body h2,
body h3,
body h4 {
    font-weight: normal;
    margin: 0px;
}
body h1 {
    font-size: 80px;
    font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, Sans-Serif;
}
body li {
    font-size: 16px;
    line-height: 16px;
}
body ul {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
nav {
    position: fixed;
    height: 42px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
nav.is-night {
    background: #262c43;
}
nav.is-night.is-cloudy {
    background: #232931;
}
nav.is-day {
    background: #2f76a1;
    margin-top: -21px;
}
nav.is-day.is-cloudy {
    background: #617588;
    margin-top: -21px;
}
nav a.attribution {
    position: absolute;
    right: 184px;
    color: #aaa;
    font-size: 14px;
    line-height: 41px;
}
nav div {
    position: absolute;
    font-size: 25px;
    height: 42px;
}
.disabled {
    opacity: 0.3;
}
.add-button {
    right: 6px;
    top: 8px;
    height: 24px;
    width: 25px;
    border: 1px solid white;
    border-radius: 14px;
    line-height: 22px;
    text-align: center;
    font-size: 26px;
    opacity: 0.6;
    float: right;
    margin-right: -126px;
    margin-top: 6px;
}
.edit-button {
    right: 95px;
    top: 13px;
    height: 20px;
    width: 20px;
    line-height: 22px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.6;
    float: right;
    margin-right: 115px;
    margin-top: 8px;
}
nav a.celsius-or-fahrenheit {
    font-size: 18px;
    width: 55px;
    left: 10px;
    line-height: 38px;
}
nav a.celsius-or-fahrenheit span {

    font-family: 'HelveticaNeue-Bold';
}
nav a.celsius-or-fahrenheit.span.use-celsius,
nav a.celsius-or-fahrenheit.span.use-fahrenheit {
    opacity: 0.9;
}
.CF_selected{
    opacity: 0.9;
}
nav span div.next-prev-nav {
    width: 257px;
    left: 50%;
    right: 50%;
    margin-left: -156px;
    opacity: 0.9;
    margin-top: -31px;

}
nav span div.next-prev-nav div {
    font-size: 21px;
}
nav span div.next-prev-nav .prev-button {
    left: 0px;
    width: 20px;
}
.indicator-dots {
    left: 30px;
    right: 30px;
    text-align: center;
    font-size: 12px;
    top: 5px;
}

.indicator-dots-current {
    left: 30px;
    right: 30px;
    text-align: center;
    opacity: 1;
}
.indicator-dots-notcurrent
{
    left: 30px;
    right: 30px;
    text-align: center;
    opacity: 0.3;
}
nav span div.next-prev-nav .next-button {
    right: 0px;
    width: 20px;
    text-align: right;
}
.list-button {
    right: 0px;
    width: 30px;
    float: right;
}
.addcity {
    font-size: 17px;
    color: #aaa;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    right: 0px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    paddding-right: 10px;
    margin-left: 16px;
    margin-top: 13px;
    list-style-type:none;
}
.newcity_cancel {
    background: #343434;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    color: white;
    opacity: 0.6;
    font-size: 24px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 1px;
}
.newcity {
    width: 54%;
    margin-left: 11px;
    margin-right: 8px;
    margin-top: 15px;
    height: 32px;
    background-color: rgb(60, 61, 61);
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 15px;
    padding-left: 15px;
}
.cancel{
    position:relative;
    width:15%;
}
.delbtn{
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
    top: 12px;
    display: inline;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    background-color: red;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: 0px;
    color: white;
    font-weight: bold;
    z-index:5;
}

.add {
    font-size: 34px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    background-color: #555;
    border-radius: 100%;
    border-color: white;
    border-width: 1px;
    color: white;
    margin-left: 3px;
    margin-top: 11px;
    width: 81px;
}
.cityapi{
    font-size:12px;
    font-family:'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    color:white;
    opacity:0.6;
    margin-left:10px;
    padding:10px;

}
.is-editing {
    /* margin-left: 264px; */
    /* float: right; */
    position: relative;
    margin-left: 1019px;
    /* margin-top: 6px; */
    top: -4px;
}
.delete_div{
    margin-left:0px;
    padding-right:10px;
}
.shift_left
{
    margin-left: 51px;
}
body div.city-detail section.today {
    text-align: center;
    position: relative;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    height: 120px;
}
body div.city-detail section.today ul.today-overview {
    text-align: left;
    position: absolute;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
body div.city-detail section.today ul.today-overview li {
    position: relative;
    float: left;
    width: 25%;
}
body div.city-detail section.today ul.today-overview li:nth-child(3),
body div.city-detail section.today ul.today-overview li:nth-child(4) {
    text-align: right;
}
body div.city-detail section.today div {
    position: absolute;
    height: 94px;
    top: 26px;
    overflow-x: scroll;
    overflow-y: hidden;
    left: 0px;
    right: 0px;
}
body div.city-detail section.today div ul.today-hourly-list {
    position: relative;
    top: 7px;
    height: 80px;
}
body div.city-detail section.today div ul.today-hourly-list > li {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
}
body div.city-detail section.today div ul.today-hourly-list > li li {
    font-size: 13px;
    height: 30px;
}
body div.city-detail section.today div ul.today-hourly-list > li img {
    height: 20px;
    width: 20px;
}
body div.city-detail section.forecast {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}
body div.city-detail section.forecast ul.forecast-list {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
body div.city-detail section.forecast ul.forecast-list li {
    height: 26px;
}
body div.city-detail section.forecast ul.forecast-list li ul li {
    position: relative;
    float: left;
    width: 25%;
    line-height: 26px;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(2) {
    text-align: right;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(2) img {
    margin-top: 5px;
    height: 20px;
    width: 20px;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(3),
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(4) {
    text-align: right;
}
body div.city-detail section.today-details {
    position: relative;
    width: 100%;
    padding-bottom: 60px;
}
body div.city-detail section.today-details p.today-summary {
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
body div.city-detail section.today-details ul.today-details-list {
    position: relative;
    padding-top: 10px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
body div.city-detail section.today-details ul.today-details-list li {
    height: 20px;
}
body div.city-detail section.today-details ul.today-details-list li ul li {
    position: relative;
    float: left;
    width: 140px;
}
body div.city-detail section.today-details ul.today-details-list li ul li:nth-child(1) {
    text-align: right;
    padding-right: 5px;
}
body div.city-detail section.today-details ul.today-details-list li ul li:nth-child(2) {
    padding-left: 5px;
}
body div.city-detail section img {
    width: 30px;
    height: 30px;
}#citylist {
     background: #555 !important;
     border-top: 1px solid #444;
 }
body #cities-list {
    display: block;

}
body #cities-list ul {
    position: relative;
}
body #cities-list ul li {
    height: 84px;
}
body #cities-list ul li ul li {
    position: absolute;
    height: 84px;
}
body #cities-list ul li ul li img {
    margin-top: 9px;
    width: 50px;
    padding-left: 5px;
}
body #cities-list ul li ul li.city-info {
    left: 0px;
    right: 100px;
}
body #cities-list ul li ul li.city-info div {
    padding-left: 16px;
}
body #cities-list ul li ul li.city-info div.time {
    margin-top: 11px;
    font-size: 15px;
}
body #cities-list ul li ul li.city-info div.city-name {
    margin-top: 11px;
    font-size: 30px;
}
body #cities-list ul li ul li.temperature {
    right: 20px;
    width: 100px;
    text-align: right;
    line-height: 84px;
    font-size: 65px;
    font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, Sans-Serif;
}

.is-day-cloudy {
    background-color: #718291;
    background: -webkit-gradient(linear, left top, left bottom, from(#718291), to(#617588));
    background: -webkit-linear-gradient(top, #718291, #617588);
    background: -moz-linear-gradient(top, #718291, #617588);
    background: -ms-linear-gradient(top, #718291, #617588);
    background: -o-linear-gradient(top, #718291, #617588);
}
.is-day-cloudy ul.today-overview,
.is-day-cloudy section.today,
.is-day-cloudy section.forecast,
.is-day-cloudy p.today-summary {
    border-bottom: 1px solid #b6c0c9;
}
.is-day-cloudy.today-details,
.is-day-cloudy nav {
    border-top: 1px solid #b6c0c9;
}
.is-day-cloudy ul.today-overview li:nth-child(2),
.is-day-cloudy ul.today-overview li:nth-child(4) {
    color: #b6c0c9;
}

.is-night {
    background-color: #141830;
    background: -webkit-gradient(linear, left top, left bottom, from(#141830), to(#262c43));
    background: -webkit-linear-gradient(top, #141830, #262c43);
    background: -moz-linear-gradient(top, #141830, #262c43);
    background: -ms-linear-gradient(top, #141830, #262c43);
    background: -o-linear-gradient(top, #141830, #262c43);
    padding-top: 2px
}
.is-night ul.today-overview,
.is-night section.today,
.is-night section.forecast,
.is-night p.today-summary {
    border-bottom: 1px solid #8d8f9a;
}
.is-night.today-details,
.is-night nav {
    border-top: 1px solid #8d8f9a;
}
.is-night ul.today-overview li:nth-child(2),
.is-night ul.today-overview li:nth-child(4) {
    color: #8d8f9a;
}


.is-night-cloudy {
    background-color: #0b131e;
    background: -webkit-gradient(linear, left top, left bottom, from(#0b131e), to(#232931));
    background: -webkit-linear-gradient(top, #0b131e, #232931);
    background: -moz-linear-gradient(top, #0b131e, #232931);
    background: -ms-linear-gradient(top, #0b131e, #232931);
    background: -o-linear-gradient(top, #0b131e, #232931);
    margin-top: -21px;
}
.is-night-cloudy ul.today-overview,
.is-night-cloudy section.today,
.is-night-cloudy section.forecast,
.is-night-cloudy p.today-summary {
    border-bottom: 1px solid #8b8f92;
}
.is-night-cloudy.today-details,
.is-night-cloudy nav {
    border-top: 1px solid  #8b8f92;
}
.is-night-cloudy ul.today-overview li:nth-child(2),
.is-night-cloudy ul.today-overview li:nth-child(4) {
    color:  #8b8f92;
}


.is-day {
    background-color: #2f76a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f76a1), to(#549dc5));
    background: -webkit-linear-gradient(top, #2f76a1, #549dc5);
    background: -moz-linear-gradient(top, #2f76a1, #549dc5);
    background: -ms-linear-gradient(top, #2f76a1, #549dc5);
    background: -o-linear-gradient(top, #2f76a1, #549dc5);
    padding-top: 2px
}
.is-day ul.today-overview,
.is-day section.today,
.is-day section.forecast,
.is-day p.today-summary {
    border-bottom: 1px solid #a1c8df;
}
.is-day.today-details,
.is-day nav {
    border-top: 1px solid #a1c8df;
}
.is-day ul.today-overview li:nth-child(2),
.is-day ul.today-overview li:nth-child(4) {
    color: #a1c8df;
}
body.div.city-detail{
    margin-top:0px;
}
body div.city-detail section.city-header {
    position: relative;
    text-align: center;
    left: 0px;
    right: 0px;
    margin-top: 20px;
    height: 140px;
}
.celsius_sel{
    font-size: 18px;
    width: 55px;
    left: 10px;
    line-height: 38px;
    opacity:0.3;
}
.use-fahrenheit{
opacity:0.9;
}
.disable_CF
{
    opacity:0.2
}
.city_title
{
    padding-top:2px;
    text-align:center;
    font-size:12px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
    color: white;
    opacity:0.7;
}
.nav_main
{
    background: #4D4D4D;
}